<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @material.item_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @material.type %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
